//
//  bootstrap.rc
//
#include <windows.h>
#include "bootstrap-resource-ids.h"

stringtable
language 0, 0
begin
    IDS_PYTHON_DLL          "pythonMN.dll"
    IDS_MAIN_PY_MODULE      "the_main_script.py"

    IDS_PY_VERBOSE  "0"
end

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    0,0,0,0
 PRODUCTVERSION 0,0,0,0
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
 #ifdef _DEBUG
 FILEFLAGS      VER_DEBUG
 #else
 FILEFLAGS      0x0L
 #endif
 FILEOS         VOS_NT_WINDOWS32 
 FILETYPE       VFT_APP
 FILESUBTYPE    0x0L
{
    BLOCK "StringFileInfo"
    { 
        BLOCK "040904b0"
        {
            VALUE "CompanyName",      "unknown"
            VALUE "FileDescription",  "replace"
            VALUE "FileVersion",      "0.0.0.0"
            VALUE "InternalName",     "replace"
            VALUE "LegalCopyright",   "none"
            VALUE "OriginalFilename", "replace.exe"
            VALUE "ProductName",      "replace"
            VALUE "ProductVersion",   "0.0.0.0"
        } 
    }
    BLOCK "VarFileInfo"
    {
        /* US English, Unicode */
        VALUE "Translation", 0x409, 1200
    }
}
